<div class="container-fluid p-3 p-md-5">
  <div class="jumbotron">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">Entstehung und Entwicklung</p>
    <p>Eine Dokumentation von Gerhard Evertz</p>
  </div>

  <h4 id="Impressum">Impressum</h4>
  <p>
    2018 - Eigenverlag Gerhard Evertz Herausgeber: Gerhard Evertz, Platanenhof
    32, 30659 Hannover Layout: Gerhard Evertz Bildbearbeitung und Druckvorstufe:
    Gerhard Evertz Druck und Bindung: Baumgart - die Print Agentur, Hannover
  </p>
  <p>
    Bildnachweis: Musiker, Zeitzeugen und Zeitungen/Zeitschriften haben das
    Bildmaterial kostenlos zur Verfägung gestellt. Sämtliche Bilder und diverse
    Unterlagen stammen aus dem privaten Archiv von Gerhard Evertz. Es wurde
    glaubhaft versichert, dass keine weiteren Rechtsinhaber vorhanden sind.
    Sofern bekannt, werden der Leihgeber bzw. Urheber genannt.
    Vervielfältigungsrechte aller Art nur mit Genehmigung des Herausgebers.
    Hinweis: Alle Angaben erfolgen ohne jegliche Verpflichtung und Garantie des
    Herausgebers. Das hier vorliegende Manuskript ist die Endfassung. Bisher
    entdeckte Fehler werden vorerst nicht korrigiert. Zusätze und Streichungen
    sind nicht geplant.
  </p>

  <h4 id="Vorwort">Vorwort</h4>
  <p>
    In dem Buch Die Stasi swingt nicht schrieb Siegfried Schmidt-Joos auf Seite
    288 unter der Überschrift: „Warum Professor Adorno Jazzmusik nicht ausstehen
    konnte“ (…) Im Juniheft 1953 des in Stuttgart erscheinenden „Merkur“
    („Zeitschrift für europäisches Denken“) hatte der Frankfurter Soziologe und
    Philosoph Theodor W. Adorno unter dem Titel Jazz -Zeitlose Mode“ einen
    Generalangriff auf diese Musik veröffentlicht, auf die Berendt
    (Joachim-Ernst Berendt-Jazzpapst und Publizist) in der Septemberausgabe
    umgehend reagierte. Adorno sprach dem Jazz jeglichen Kunstcharakter ab und
    degradierte ihn kurzerhand zum reinen Produkt der „Kulturindustrie“ Seine
    Kernsätze: „Jazz ist Musik, die bei simpelster melodischer, metrischer und
    formaler Struktur prinzipiell den musikalischen Verlauf aus gleichsam
    störenden Synkopen zusammenfügt, ohne dass je an die sture Einheit des
    Grundrhythmus gerührt würde (...). Jazz ist eine Manier der Interpretation.
    Wie bei Moden geht es um Aufmachung und nicht um die Sache; leichte Musik,
    die ödesten Produkte der Schlagerindustrie werden frisiert, nicht etwa Jazz
    als solcher komponiert (...). Was im Jazz überhaupt vorkommen darf, ist so
    beschränkt wie irgendein besonderer Schnitt von Kleidern. Angesichts der
    Fülle von Möglichkeiten, musikalisches Material selbst in der
    Unterhaltungssphäre zu erfinden und zu behandeln, zeigt der Jazz sich völlig
    verarmt.“ Adorno hatte leider keinen richtigen Zugang zum Jazz. Von daher
    seine unmögliche Sicht. „ . . . zeigt der Jazz sich völlig verarmt“. Wie arm
    ist Adorno? Er hatte keine Ahnung. Dagegen hatte Arthur Honegger eine ganz
    andere Sichtweise: „Es ist interessant, festzustellen, dass -nachdem man
    klassische Werke und insbesondere die symphonischen von Beethoven angehört
    hat - gewisse Jazzstücke viel raffinierter zu sein scheinen, sowohl vom
    orchestralen wie vom harmonischen Standpunkt aus gesehen; so viel
    raffinierter, dass man versucht sein könnte zu glauben, der Jazz sei die
    echte Musik.“
  </p>

  <h4 id="Einführung">Einführung</h4>
  <p>
    So fing alles an: Recherchieren, Sammeln, Archivieren, Veröffentlichen Ein
    Musiker-Treffen der damaligen - 1950er- und 1960er Jazz-Szene im Fora-
    Hotel, Hannover am 10. April 1997.
  </p>

  <p>
    Der Anstoß, eine derartige Zusammenkunft zu veranstalten kam u. a. aus dem
    Kreis der damaligen Jazz-Musiker, angeregt durch das Buch Ein Club macht
    Jazz - 25 Jahre Jazzclub Hannover aus 1991, das ich im Auftrag für den Club
    herausgegeben habe und die Ausstellung 1995 im Historischen Museum Hannover
    zur Jazz-Geschichte in Hannover. Die Einladung zu diesem Treffen habe ich
    ausgesprochen, nachdem ich durch einen nicht unbeträchtlichen Zeitaufwand
    Adressen und Telefonnummern herausgefunden habe. Nun von ca. 45
    angesprochenen Musikern trafen sich leider nur 26 mit ihren Ehefrauen oder
    Lebenspartnern im Fora-Hotel. Es fehlten in dieser Runde Bernd Rabe, er
    hatte eine musikalische Verpflichtung und Heinz Kitschenberg war in der Zeit
    mit seiner Ursula in Frankreich. Heinz Both und Karl Blume waren mit ihren
    Frauen dabei, worüber ich mich ganz besonders gefreut habe. Es waren schöne
    Stunden des Wiedersehens und eine große Freude über die „alten Zeiten“
    intensiv und lebhaft zu plaudern.
  </p>
  <p>
    Im Übrigen gab diese Veranstaltung den Anstoß, den Zeitraum der 1950er und
    1960er Jahre intensiver auszuleuchten und in Wort und Bild festzuhalten, da
    im Rahmen der oben genannten Ausstellung ein sehr wichtiger Teil der
    Jazzgeschichte nach dem 2. Weltkrieg bis zur Gründung des Jazz Club Hannover
    in 1966 fehlte. Den so genannten Einstieg in die Gespräche versuchte ich
    durch einen Vortrag unserer gemeinsamen Zeit in und um Hannover und darüber
    hinaus anzuregen.
  </p>

  <p>
    Wer erinnert sich noch an die Veranstaltungen im Alten Rathaus, im Funkhaus
    Hannover, an das tabu? Wer erinnert sich noch an die regionalen und
    überregionalen Jazz-Festivals? Wann wurde der hot club hannover gegründet?
    Wer kennt noch seine Mitgliedsnummer vom hch? Wer kennt noch die Gagen?
    Diese und viele weitere Fragen gaben Anlass zu gemeinsamen Gesprächen. Auch
    brachten einige ihre Fotoalben und Presseberichte, mit und ohne Fotos, mit.
  </p>

  <p>
    Somit konnte der eine oder andere Ergänzendes für die intensiv geführten
    Gespräche beitragen. Die Bereitschaft an einem Buch-Projekt mitzuwirken
    wurde von allen signalisiert, indem man mir dokumentarische Unterlagen gab.
    Von daher war der Einladende gefordert, aber auch motiviert aus dem noch
    anfänglich geringen Umfang an Dokumenten durch weitergehende Recherchen das
    Ergebnis an Beiträgen, Bildmaterial, Namen der Musiker, Veröffentlichungen
    und Tondokumente, etc. zu verbessern. Von vielen Musiker liegen mir nun eine
    Vielzahl an wichtigen Unterlagen für die, wie gesagt, fehlende Zeit vor.
    Leider fehlen in mehreren Fällen die genauen zeitlichen Angaben und
    insbesondere bei Pressenotizen der Hinweis auf den Zeitungstitel. Ich habe
    mich bemüht die fehlenden Angaben in eine zeitliche Abfolge zu bringen, in
    der Hoffnung, dass es mir gelungen ist. Eine derartige Zusammenstellung kann
    nie komplett sein. So ist über viele Jahre ein ansehnliches Archiv
    angewachsen daraus ich auch für diese Dokumentation schöpfen konnte. Es war
    insgesamt ein gelungenes Treffen.
  </p>

  <p>
    Kennengelernt habe ich die >New Jazz Group Hannover< in den 1950er Jahren
    durch die gemeinsamen Auftritte, wenn Helmut Perschke aus welche Gründe auch
    immer nicht verfügbar war oder mit unserer Band>Starlight Swingtet<, in der
    Besetzung: Jürgen Ehlers am Piano, Bernd Fischer, Altsaxophon und
    Klarinette, Jürgen Sprotte an der Gitarre, Karl-Friedrich Hintz, oder Addi
    Adler sowie Hermann Mahr am Bass und ich an den Drums, u. a. im Rahmen der
    Veranstaltungen „Jazz in Theorie und Praxis“. Eine Veranstaltungsreihe
    initiiert von unserem Präsidenten des Hot Club Hannover (hch), Dr.
    Schulz-Köhn.
  </p>
  <p>
    Er war der Auffassung, dass für die breite Masse – auch für die Presse – der
    Jazz ein- und dasselbe sei, gleich, ob das Konzert vom hch oder irgend
    welchen „wilden“ Veranstaltern aufgezogen wurde. Der Club wollte damit nicht
    verwechselt werden und ganz besonders der Präsident legte Wert auf einen
    guten Kontakt mit der Presse, der Grammophon-Gesellschaft und dem Funkhaus
    Hannover, zumal in der damaligen Zeit der Jazz allgemein noch sehr negativ
    beurteilt wurde. Das war auch den Presseberichten bzw. Kritiken zu entnehmen
    und in Veranstaltungen zu erleben, die oft mit Radau endeten. Er wollte
    keine „wilden Veranstaltungen“ inszenieren. Im Gegenteil, so seine Worte:
    “Wir distanzieren uns von den „Jitterbugs und Ringelsöckchen-Fans“, die im
    Jazz eine Sportart sehen. Alle unsere Konzerte sind mit Erläuterungen
    versehen – in der Art eines Volkshochschulvortrags mit praktischen
    Beispielen“. Die Konzerte „Jazz in Theorie und Praxis“ waren bekannt dafür
    und genossen in Hannover einen guten Ruf.
  </p>

  <p>
    Eine weitere Veranstaltungsreihe waren die Studio Jazz-Konzerte, ebenfalls
    eine Einrichtung von unserem Dr. Jazz. Das erste Konzert dieser Reihe fand
    in der damaligen Musikakademie Hannover im Lister Turm statt. Die New Jazz
    Group und das Starlight Swingtet waren dabei. Es war ein gewagtes
    Unterfangen für uns und für Dr. Schulz-Köhn, da wir vor Dozenten und
    Studenten der klassischen Musik überzeugen mussten. Es wurde für uns ein
    unerwarteter Erfolg. Die Presse berichtete.
  </p>
  <p>
    Der Verdienst von Dr. Schulz-Köhn für den Jazz in unserer Stadt ist
    unbestritten. Seine Liebe zur Musik, insbesondere zum Jazz machten ihn zum
    Mentor und Motor für den hannoverschen hot club. Seine beruflichen
    Erfahrungen, seine publizistische Arbeit auf dem Gebiet des Jazz und seine
    Tätigkeit bei der „Telefunken-Platte“, bei der Grammophon-Gesellschaft sowie
    am Rundfunk ermöglichten ihm den Jazz in überzeugender Weise einen nicht
    unbedeutenden Platz in der Kultur-Szene Hannovers zu verschaffen. Und das
    vor dem Hintergrund einer noch schwierigen Zeit im Nachkriegsdeutschland.
  </p>

  <p>
    Sein strenges Qualitätsdenken und seine Reglementierung, was die Musikalität
    und den Einsatz der Musiker betraf (Der Präsident war im übrigen für alle
    Konzerte des hch und die daran beteiligten Musiker und Combos zuständig),
    hatte auch insbesondere für den Kreis der Amateurmusiker Nachteile. Die
    Auftrittsmöglichkeiten für Amateurmusiker bei den hch-Veranstaltungen wurden
    allgemein hoch eingeschätzt, da sie im Bewusstsein des Publikums einen
    besonderen Stellenwert eingenommen hatten und von der Presse stets beachtet
    wurden. Mit dieser kleinen Dokumentation möchte ich drei Musiker besonders
    erwähnen. Es sind jene drei Ausnahmemusiker Bernd Rabe, Heinz Kitschenberg
    und Karl Blume. die ich im weiteren Verlauf vorstellen werde. Die
    Vielschichtigkeit des Schaffens der Musiker kann sich in diesem Buch leider
    nur auf eine vom Autor getroffene Auswahl beschränken. Dafür bitte ich um
    Ihr Verständnis.
  </p>

  <p>
    Sicherlich wird Ihnen das eine oder andere Ereignis, aber auch der eine oder
    andere Musikername bekannt vorkommen und könnte in diesem Buch fehlen. Bei
    den geschildernden Anlässen können sich Fehler eingeschlichen haben. Aber
    auch Dokumente sind möglicherweise nicht berücksichtigt worden. Das beruht
    zum einen auf eine nicht vorhandene Fundstelle und darauf, dass dieses Buch
    nicht den Anspruch einer wissenschaftlichen - zeithistorischen Dokumentation
    erhebt, und einen gewissen Umfang nicht überschreiten sollte. Es gibt
    zurzeit keine Publikation mit dem Anspruch einer umfassenden Darstellung
    über die New Jazz Group Hannover. Über ihr musikalisches Wirken. Diese
    Dokumentation soll einmal mehr die kulturelle Bedeutung des Jazz am Beispiel
    der Band und ihrer Musiker verdeutlichen, die in den 1950er Jahren in
    unserer Stadt die Jazz-Szene bereichert haben. Unter dem Titel „Jazz made in
    Hannover“ schrieb Michael Gehrke 1973 in der Zeitschrift „Hannoversches
    Leben“ über die vielfältigen Aktivitäten in der hannoverschen Jazz-Szene.
    Sein Artikel beschreibt den Standort Hannover als bedeutende
    Schallplattenproduktion durch die Deutsche Grammophon, u.a. für den Jazz mit
    dem Schallplatten-Label „Brunswick“ bis hin zu den vielen Musikern, ob
    Amateure oder Profis, die nach dem Kriege und bis vor 1973 in Hannover
    auftraten. Er schrieb unter anderem: „Auch die in Hannover ansässigen oder
    gewesenen Jazzkapellen (…) haben zum guten Ruf Hannovers als Jazzstadt
    beigetragen. (…) Im Jahre 1955 gab es einen kleinen Höhepunkt in der
    Geschichte der Jazzplatte und des Jazz in Hannover. Zum ersten Mal wurden
    deutsche Jazzmusiker mit Amerikanern auf eine Platte gepresst. Der Zufall
    wollte es, dass es sich ausgerechnet um die Club Combo des Hot Club Hannover
    handelte, nämlich der New Jazz Group Hannover. So hatte damals schon in
    gewisser Weise Hannover in Bezug auf den Jazz im Allgemeinen und dem
    deutschen Jazz im besonderen Anteil und Einfluss, wie dies direkt keine
    andere Stadt in der Bundesrepublik aufzuweisen hatte. Aber nicht nur auf der
    Schallplatte hatte sich Hannover seinerzeit schon einen Namen im Jazz
    gemacht, sondern die ersten Jazzbands, wie eben die schon genannte New Jazz
    Group Hannover oder das Starlight Swingtet, haben Anfang der 50er Jahre in
    der Aula der Hochschule für Musik und Theater Jazzkonzerte gegeben und
    spielten bald auch in anderen Städten. Die New Jazz Group Hannover zählte
    bald zu Deutschlands führender Jazz-Combo. Eine bekannte hannoversche
    Konzertdirektion begann zu gleicher Zeit, berühmte amerikanische Musiker
    nach Hannover in die großen Konzertsäle zu holen, und bald gaben sich
    Hannover auch Jazzbands aus anderen Städten ein Stelldichein“.
  </p>

  <p>
    Viele Begegnungen mit der New Jazz Group Hannover, mit dem Starlight
    Swingtet 1954, mit dem Autor am Schlagzeug in den Folgejahren, wenn der
    Schlagzeuger der NJGH Helmut Perschke ausfiel oder ein anderes lukratives
    Geschäft wahrnahm. So konnte ich mit der Hannover All Stars am 10. 03. 1955
    im Alten Rathaus in Hannover auftreten. Am 10. März 1955 fand im Alten
    Rathaus das 2. Studio-Jazz-Konzert des hch statt mit den „Hannover All
    Stars“ in der Besetzung: Ted Arbenz (vib), Eberhard Pommerenke (b), Bernd
    Rabe (as, cl), Manfred Hübler (p) und Gerhard Evertz (dr). Als zweite Band
    folgte die „Spree City Stompers“ aus Berlin mit folgender Besetzung: Werner
    Geisler (tp), Hans-Wolf Schneider (tb), Poldi Klein (cl), Eckhard Schmidt
    (p), Wolfgang Laade (b), Thomas Keck (dr) und Toby Fichelscher (voc).
  </p>

  <p>
    Ein Höhepunkt des Abends war der Auftritt von Fritz Schulz-Reichel am Piano
    in einer Trio-Besetzung mit Eberhard Pommerenke am Bass und Gerhard Evertz
    am Schlagzeug.
  </p>
  <p>
    Nicht minder begeistert war das Publikum über die Titel 20 bis 28 der
    „Hannover All Stars“. Die zwei letzten Titel brachten die Jazz-Fan-Seelen
    zum Kochen. An einen anderen Auftritt mit der NJGH erinnere ich mich sehr
    gut. Wir fuhren zur Faschingszeit nach Düsseldorf in das dortige große
    Stadion. Eberhard Pommerenke fuhr den roten VW-Bus. Dort angekommen fanden
    wir eine bereits in Stimmung befindliche Menschenansammlung, vermutlich
    überwiegend Fußball-Fans, vor. Hier zeigte sich einmal mehr die
    Proffesionalität von Bernd Rabe, Heinz Kitschenberg und Gerd Mann, um auf
    einer Faschingsfete die richtige Musik darzubieten. Es hat mit großem
    Applaus für uns geklappt. Auf der nächtlichen Rückfahrt steuerten wir noch
    eine Lokalität an, wo unter anderem Hans Podehl am Schlagzeug spielte. Er
    bediente dort eine riesengroße Bassdrum sehr laut im Viervierteltakt. In
    Hannover erlebte ich ihn dann mit der Jutta Hipp Combo, in Vertretung von
    Karl Sanner. Es war eine unglückliche Entscheidung. Hipp war bereits im
    Absprung nach New York.
  </p>
</div>
