<div class="container-fluid p-3 p-md-5">
  <div class="jumbotron">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">{{sub}}</p>
    <p>{{sub2}}</p>
  </div>

  <div class="card flex-md-row mb-3 h-md-250">
    <div class="container">
      <div class="row placeholders">
        <div
          style="width: image width px; font-size: 80%; text-align: left;"
          class="col-sm-6 placeholder"
        >
          <img
            src="{{imgpath}}/image9461.jpg"
            class="img-responsive box-shadow"
            alt="Generic placeholder thumbnail"
          />
          <span class="text-muted"><br />Jazz Podium - Februar 2007</span>
        </div>

        <div
          style="width: image width px; font-size: 80%; text-align: left;"
          class="col-sm-6 placeholder"
        >
          <img
            src="{{imgpath}}/image9471.jpg"
            class="img-responsive box-shadow"
            alt="Generic placeholder thumbnail"
          />
          <span class="text-muted"><br />HAZ - Februar 2007</span>
        </div>
      </div>

      <div class="row placeholders">
        <div
          style="width: image width px; font-size: 80%; text-align: left;"
          class="col-sm-4 placeholder"
        >
          <img
            src="{{imgpath}}//image15981.jpg"
            class="img-responsive box-shadow"
            alt="Generic placeholder thumbnail"
          />
          <span class="text-muted"><br /></span>
        </div>

        <div
          style="width: image width px; font-size: 80%; text-align: left;"
          class="col-sm-4 placeholder"
        >
          <img
            src="{{imgpath}}/image17021.jpg"
            class="img-responsive box-shadow"
            alt="Generic placeholder thumbnail"
          />
          <span class="text-muted"><br /></span>
        </div>
        <div
          style="width: image width px; font-size: 80%; text-align: left;"
          class="col-sm-4 placeholder"
        >
          <img
            src="{{imgpath}}/image17011.jpg"
            class="img-responsive box-shadow"
            alt="Generic placeholder thumbnail"
          />
          <span class="text-muted"><br />Jazz Podium - Februar 2008</span>
        </div>
      </div>
      <br />
      <div class="row placeholders">
        <div
          style="width: image width px; font-size: 80%; text-align: left;"
          class="col-sm-6 placeholder"
        >
          <img
            src="{{imgpath}}/image16011.jpg"
            class="img-responsive box-shadow"
            alt="Generic placeholder thumbnail"
          />
          <span class="text-muted"><br />HAZ - Dezember 2007</span>
        </div>

        <div
          style="width: image width px; font-size: 80%; text-align: left;"
          class="col-sm-6 placeholder"
        >
          <img
            src="{{imgpath}}/image14451.jpg"
            class="img-responsive box-shadow"
            alt="Generic placeholder thumbnail"
          />
          <span class="text-muted"
            ><br />Hannoversches Wochenblatt - Januar 2008</span
          >
        </div>
      </div>
      <br />
      <div class="row placeholders">
        <div
          style="width: image width px; font-size: 80%; text-align: left;"
          class="col-sm-6 placeholder"
        >
          <img
            src="{{imgpath}}/image14421.jpg"
            class="img-responsive box-shadow"
            alt="Generic placeholder thumbnail"
          />
          <span class="text-muted"><br />JazzSzene Hannover - April 2009</span>
        </div>

        <div
          style="width: image width px; font-size: 80%; text-align: left;"
          class="col-sm-6 placeholder"
        >
          <img
            src="{{imgpath}}/image12291.jpg"
            class="img-responsive box-shadow"
            alt="Generic placeholder thumbnail"
          />
          <span class="text-muted"><br /></span>
        </div>
      </div>
      <br />
      <div class="row placeholders">
        <div
          style="width: image width px; font-size: 80%; text-align: left;"
          class="col-sm-6 placeholder"
        >
          <img
            src="{{imgpath}}/image12311.jpg"
            class="img-responsive box-shadow"
            alt="Generic placeholder thumbnail"
          />
          <span class="text-muted"><br />2012</span>
        </div>

        <div
          style="width: image width px; font-size: 80%; text-align: left;"
          class="col-sm-6 placeholder"
        >
          <img
            src="{{imgpath}}/image12271.jpg"
            class="img-responsive box-shadow"
            alt="Generic placeholder thumbnail"
          />
          <span class="text-muted"><br /></span>
        </div>
      </div>
    </div>
  </div>
</div>
