<div class="container-fluid p-3 p-md-5">
  <div class="jumbotron">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">{{sub}}</p>
    <p>{{sub2}}</p>
  </div>

  <div class="card flex-md-row mb-4 h-md-250">
    <div
      style="width: image width px; font-size: 80%; text-align: left;"
      class="card-body d-flex flex-column "
    >
      <img
        src="/images/image013.jpg"
        class="img-responsive box-shadow"
        alt="Generic placeholder thumbnail"
      />
      <span class="text-muted"
        ><br />Pressefoto: HAZ-Bericht 14. 02. 2007.</span
      >
    </div>
    <div class="card-body d-flex flex-column align-items-start">
      <div class="card flex-md-row mb-4  ">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0">
            <a class="text-dark" href="#">Der Swing war das Ding!</a>
          </h3>
          <div class="mb-1 text-muted">1945 ...</div>
          <p class="card-text mb-auto">
            Kurz nach dem Zweiten Weltkrieg ... die Sender British Forces
            Network (BFN) und American Forces Network (AFN) boten ein tolles
            Jazz-Programm: Die Bands von Benny Goodman, Count Basie, Woody
            Herman oder auch „Norman Granz presents „Jazz at the Philharmonic“
            faszinierten mich. Der Swing war das Ding! Ich schaffte mir eine
            eigene musikalische Welt – eine Gegenwelt zum damals grassierenden
            Schlager! Und dann gab es noch den Freundeskreis um meinen Bruder
            Wolfgang: In den 1950er Jahren trafen sich die großen Jungs alle
            zwei bis drei Wochen in den elterlichen Wohnungen zur so genannten
            „Platten-Session“– sehr cool!
          </p>
          <p></p>
        </div>
      </div>

      <div class="card flex-md-row mb-4  ">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0">
            <a class="text-dark" href="#">Hot Club Hannover</a>
          </h3>
          <div class="mb-1 text-muted">20. Dezember 1954</div>
          <p class="card-text mb-auto">
            Studio-Jazzkonzert des Hot Club Hannover mit der New Jazz Group
            Hannover und dem Starlight Swingtet in der Musikakademie.
          </p>
        </div>
        <img
          class="rounded float-left card-img-right flex-auto d-none d-md-block "
          src="/images/image005.jpg"
          alt="Card image cap"
        />
      </div>

      <div class="card flex-md-row mb-6  ">
        <img
          class="rounded float-left card-img-left flex-auto d-none d-md-block "
          src="/images/image007.jpg"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0">
            <a class="text-dark" href="#">Starlight Swingtet </a>
          </h3>
          <div class="mb-1 text-muted">Anfang der 1950er Jahre</div>
          <p>
            In den 1950er und 1960er Jahren habe ich dann als Schlagzeuger in
            mehreren Combos und Big-Bands gespielt - mit tollen Musikern. Mit
            dem „Starlight Swingtet“ traten wir auf dem Amateur-Jazzfestival
            1955 in Düsseldorf auf.
          </p>

          <p class="card-text mb-auto">
            Im tabu-hannover. Besetzung: Bernd Fischer (as&cl), Jürgen Ehlers
            (p), <br />später Bass, Jürgen Sprotte (gt), Gerhard Evertz (dr) und
            Karl-Friedrich Hintz (b).
          </p>
        </div>
      </div>
      <p></p>

      <div class="card flex-md-row mb-6  ">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0"><a class="text-dark" href="#">Ambitionen</a></h3>
          <div class="mb-1 text-muted">Die 1950er Jahre</div>

          <p>
            Es war für mich eine aufregende, freie Zeit – heilsam nach den
            Jahren des Krieges für einen jungen Mann wie mich. Und doch
            entschied ich mich gegen das verlockende Angebot, mit der Band
            „Black and White“ auf Tournee zu gehen. Der Grund war: eine Frau.
            Meine spätere Frau, für die ich ein verlässlicher Partner sein
            wollte. Schweren Herzens gab ich das Profi-Musizieren auf - und mein
            beruflicher Werdegang verlief von da an in völlig anderen Bahnen.
          </p>
        </div>
      </div>
      <p></p>
      <div class="card flex-md-row mb-6  ">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0"><a class="text-dark" href="#">Dokumentieren</a></h3>
          <div class="mb-1 text-muted">Die 1990er</div>

          <p>
            Viel später jedoch knüpfte ich an die Zeit der vielen
            Bühnenauftritte an: Der Jazz ließ mich nie los. Ich begann zu
            recherchieren und zu sammeln, dann zu schreiben und zu
            veröffentlichen:
          </p>
        </div>
      </div>
      <p></p>

      <div class="card flex-md-row mb-4  ">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0">
            <a class="text-dark" href="#">Jazzbuch Hannover</a>
          </h3>
          <div class="mb-1 text-muted">28. August 2001</div>
          <p class="card-text mb-auto">
            Bericht in der Hannoversche Allgemeine Zeitung.
          </p>
          <br />

          <p>
            Viele Kontakte zu Machern und Musikern konnte ich in jener Zeit
            knüpfen. Eine Zeit in die Vergangenheit mit unvergesslichen
            Erlebnissen.
          </p>

          <p>
            2004 war das Startjahr für die erste Buchveröffentlichung nach einer
            langen Zeit der Recherche, der Buchgestaltung, der Bildbearbeitung
            bis hin zur Erstellung der Druckvorstufe.
          </p>
          <span style="font-size: 80%;" class="text-muted"
            >Foto: Harald Koch</span
          >
        </div>
        <img
          class="rounded float-left card-img-right flex-auto d-none d-md-block "
          src="/images/image011.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card flex-md-row mb-6  ">
        <img
          class="rounded float-left card-img-left flex-auto d-none d-md-block "
          src="images/image009.jpg"
          alt="Card image cap"
        />

        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0"><a class="text-dark" href="#">Gerhard Evertz</a></h3>
          <div class="mb-1 text-muted">23. Oktober 1953</div>
          <p>
            Aus dem Drummer von einst ist ein Jazz-Historiker geworden.
            Mittlerweile ist mein kleines Büro, völlig „zugewachsen“ mit
            Artikeln, Fotos und Dokumenten.
          </p>
          <p>
            Ich bin glücklich, wenn ich jüngeren „Kollegen“ und allen
            Interessierten etwas über die Geschichte des Jazz berichten kann.<br />
            Das möchte ich mit dieser Website erreichen.
          </p>
        </div>
      </div>
      <p></p>
      <footer class="blockquote-footer">Gerhard Evertz</footer>
    </div>
  </div>
</div>
